
/* var(--may-color-bg1);
var(--may-color-bg2); */
:root{
  --may-color-bg1:ghostwhite;
  --may-color-bg2:black;
}

.hidden {
  display: none;
}

.fa-times-circle,
.fa-check-circle {
  cursor: pointer;
}
.outputClock {
  font-size: 25px;
}

form.col-md-8 {
  margin:20%;
}

.output {
  background-color: var(--white);
  padding: 5%;
  border-radius: 5px;
}
.shadow-sm {
  margin-top: 10px;
}

.nav {
  /* background-color: var(--primary);
  color:var(--white); */
}

.slide {
  background-image: url(https://i.pinimg.com/originals/47/10/c8/4710c8d5e2533ab1065de232a51c3a7a.jpg), linear-gradient(to bottom right, var(--may-color-bg1), var(--may-color-bg2));
  background-attachment: fixed;
  transition: background-image 2s linear;
  background-position:center;
  background-size:100%;
  background-repeat: no-repeat;
}
.slide1 {
  background-image: url(https://www.larutadelsorigens.cat/wallpic/full/12-122667_-iphone-6..jpg), linear-gradient(to bottom right, var(--may-color-bg1),  var(--may-color-bg2));
  background-attachment: fixed;
  transition: background-image 2s linear;
  background-position:center;
  background-size:100%;
  background-repeat: no-repeat;
}
.slide2 {
  background-image: url(https://images.wallpaperscraft.ru/image/bmw_avtomobil_chb_124257_800x1420.jpg), linear-gradient(to bottom right, var(--may-color-bg1),  var(--may-color-bg2));
  background-attachment: fixed;
  transition: background-image 2s linear;
  background-position:center;
  background-size:100%;
  background-repeat: no-repeat;
}
.slide3 {
  background-image: url(https://img2.akspic.ru/image/35494-chernyj_i_belyj-bmw_5_series-avtomobil-bmv_m5-bmw_3_series_e46-750x1334.jpg), linear-gradient(to bottom right, var(--may-color-bg1),  var(--may-color-bg2));
  background-attachment: fixed;
  transition: background-image 2s linear;
  background-position:center;
  background-size:100%;
  background-repeat: no-repeat;
}
.slide4 {
  background-image: url(http://www.sclance.com/wallpapers/bmw-wallpaper-hd/bmw-wallpaper-hd_354117.jpg), linear-gradient(to bottom right, var(--may-color-bg1),  var(--may-color-bg2));
  background-attachment: fixed;
  transition: background-image 2s linear;
  background-position:center;
  background-size:100%;
  background-repeat: no-repeat;
}
.slide5 {
  background-image: url(https://img2.akspic.ru/image/35494-chernyj_i_belyj-bmw_5_series-avtomobil-bmv_m5-bmw_3_series_e46-750x1334.jpg), linear-gradient(to bottom right, var(--may-color-bg1),  var(--may-color-bg2));
  background-attachment: fixed;
  transition: background-image 2s linear;
  background-position:center;
  background-size:100%;
  background-repeat: no-repeat;
}
