
header {
margin: 0 7%;
background-color: var(--main-color);
color:var(--main-text);
display: grid;
grid-template-columns: 5fr 5fr;
grid-template-rows: 5fr;
}

.info{
  padding: 10% 20%;
}

nav {
padding-top: 35%;
}

nav a{
  padding-left: 3%;
  color:var(--main-text);
}