section.skills{
  margin:1em 0;
  width: auto;
  background-color: var(--main-color);
  padding: 3em;
  }
  
section.skills>article> h2, p{
    color: var(--main-text);
  }
  
section.skills>article>h2{
    margin: 0.5em;
    font-size:3em;
  }
  
section.skills> article> p{
  font-size: 2em;
  text-align: center;
  }