
section.tasks{
  width: 100%;
  max-width: 1000px;
  background-color: var(--main-color);
  padding: 2em 0;
}
section.tasks > ul > li > a{
  border: 2px solid var(--main--block);
  display: inline-block;
  padding: 1.34em;
  font-size: 1.3em;
  color: var(--main--block);
  width: 3.5em;
  height: 4em;
  margin: 0.2em;
  background-repeat:no-repeat;
  background-size: 180px;
  text-align: center;
  overflow:hidden;
}

section.tasks> ul{
  display: flex;
  padding: 1%;
  
}
section.tasks>ul>li{
  list-style-type:none;
}

.dz1:hover{
  background-image: url(https://github.com/z0r0v/Hometasks/blob/master/%E2%84%961%20Calculete/img/calculator.png?raw=true); 
}
  .dz2{
    background-image: url();
    }
    .dz3{
      background-image: url();
      }
      .dz3-2{
        background-image: url();
        }
        .dz3Plus{
          background-image: url();
          }
          .dz3-4-5{
            background-image: url();
            }
            .dz4Plus{
              background-image: url();
              }
              .dz4-1-2dz5-1-2zd6-1-2{
                background-image: url();
                }
                .dz6-3{
                  background-image: url();
                  }
                  .dz7-1{
                    background-image: url();
                    }
                    .dz7-2{
                      background-image: url();
                      }
                      .dz8-1{
                        background-image: url();
                        }
                        .dz9-1dz10-3{
                          background-image: url();
                          }
                          .dz10-1{
                            background-image: url();
                            }
                            .dz11-1{
                              background-image: url();
                              }
                              .dz12-1{
                                background-image: url();
                                }
                                .dz12-2{
                                  background-image: url();
                                  }
                                  .dz13-1{
                                    background-image: url();
                                    }
                                    .dz14-1{
                                      background-image: url();
                                      }
                                      .dz14-2{
                                        background-image: url();
                                        }
                                        .dz15-1{
                                          background-image: url();
                                          }
                                          .dz15-2{
                                            background-image: url();
                                            }
                                            .dz15Plus{
                                              background-image: url();
                                              }
                                              .dz16-1{
                                                background-image: url();
                                                }
                                                .dz16Plus{
                                                  background-image: url();
                                                  }
                                                  .dz16Plus-2{
                                                    background-image: url();
                                                    }
    
  
