
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

@import 'css/header.css' screen;
@import 'css/portfolio.css' screen;
@import 'css/tasks.css' screen;
@import 'css/footer.css' screen;
@import 'css/skils.css' screen;
@import 'css/experience.css' screen;
@import 'css/slider.css' screen;
@import 'css/about.css' screen;


*{
  font-family: 'Comfortaa', cursive;
  scroll-behavior: smooth;
 
}

body{
  margin: 0 7%;
  display: grid;
  grid-row-gap:2%;
}

:root{
  --main-color: rgba(0, 0, 0, 0.5);
  --main-text:white;
  --main--block:white;
  --main--footer:white;
  --main--href:#800080;
}
