@import url('https://fonts.googleapis.com/css?family=Chonburi&display=swap');
@import 'css/default.css' screen;
@import 'css/header.css' screen;
@import 'css/portfolio.css' screen;
@import 'css/tasks.css' screen;
@import 'css/footer.css' screen;
@import 'css/Skils.css' screen;



:root{
  --main-color:#B0C4DE;
  --main-text:black;
  --main--block:black;
}

body{
  width: 100%;
  max-width: 1000px;
  border: 0 solid transparent;
  border-width: 0 50px;
  margin: 0 auto 50px;
  box-sizing: border-box;
  font-family: 'Chonburi', cursive;
}

/* .block_inner {
  height: 40px;
  background-color: green;
} */