.container{
  margin: 50px;
}

a {
  width: 200px;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: blueviolet;
  box-shadow: 2px 1px 2px 1px silver;
  display:flex;
  
}

a:hover{
  cursor: pointer;
  box-shadow: inset 0 0 2px 3px white;
  border: 2px solid blueviolet;
  content: 'ADD';
}