.container > .tabs {
    text-align: left;
    padding: 0 30%;
}

.container > .tabs > form > input{
    display: block;
}
.container > .tabs > form >h2{
    text-align: center;
}
.login{
    margin-left: 24px;
}
.submitBtn{
    width: 130px;
    margin-left: 70px;
}